/*custom css for login starts here*/

#snackbarsuccs {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    /*margin-left: -125px;*/
    /* Divide value of min-width by 2 */
    background-color: #0cc30c;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 100000;
    /* Add a z-index if needed */
    left: 45%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

#snackbarsuccs.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}




/* The snackbar failure - position it at the bottom and in the middle of the screen */

#snackbarerror {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    /*margin-left: -125px;*/
    /* Divide value of min-width by 2 */
    background-color: #ea357f;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 100000;
    /* Add a z-index if needed */
    left: 45%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}




/*@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}*/

#snackbarerror.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.pointer {
    cursor: pointer;
}

.iserror {
    border: 1px solid red !important;
}

.btn:hover {
    transform: translate3d(0, -2px, 0);
    -webkit-transform: none !important;
}

.pt12 {
    padding-top: 12px !important;
}

.floatleft {
    float: left !important;
}

.profilepicupimg {
    height: 146px !important;
    width: 100% !important;
}

.emptyphotos {
    text-align: center;
    color: #ea357f;
    font-size: 17px;
}





/*password validation show starts here*/

#pswd_info {
    position: absolute;
    margin-top: 10px !important;
    right: 0px;
    width: 100%;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    bottom: 50px;
    z-index: 100000 !important;
}

#pswd_info h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
}

#pswd_info::before {
    content: "\25B2";
    position: absolute;
    left: 50%;
    bottom: 5px;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    transform: rotate(60deg);
    text-shadow: none;
    display: block;
}

.invalid {
    background: url(../images/invalid.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}

.valid {
    background: url(../images/valid.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}

#pswd_info {
    display: none;
}





/*password validation show ends here*/


/*TAGS CSS STARTS HERE*/

ol,
ul {
    list-style: outside none none;
}

#container {
    margin: 0 auto;
    width: 60rem;
}

.tagsnew {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: table;
    padding: 0.5em;
    width: 100%;
}

.tagsnew li.tagAddnew,
.tagsnew li.addedTagnew {
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.tagsnew li.addedTagnew {
    background: none repeat scroll 0 0 #ea357f;
    border-radius: 2px;
    color: #fff;
    padding: 0.25em;
}

.tagsnew input,
li.addedTagnew {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 0.5em;
}

.tagsnew input:hover {
    border: 1px solid #fff;
}

span.tagRemovenew {
    cursor: pointer;
    display: inline-block;
    padding-left: 0.5em;
}

span.tagRemovenew:hover {
    color: #222222;
}





/*TAGS CSS ENDS HERE*/

span.roll {
    background: center center no-repeat rgba(255, 255, 255, 0.15) !important;
}

.profileimg.dynuserimage {
    width: 33px;
    height: 33px !important;
}

input.disabled:hover {
    cursor: not-allowed
}

select.disabled:hover {
    cursor: not-allowed
}

.registerauthcntnt {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.premiummem {
    font-size: 15px !important;
}

.actionactive {
    color: #ea357f !important;
}

.card__action a:not(:hover) {
    opacity: 1;
}

.nodatainsearch {
    font-size: 12px !important;
    color: #ea357f !important;
    font-weight: 600 !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: #ea367f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 55px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #ea367f;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.searchuserimg {
    width: 65px !important;
    height: 69px !important
}

.resultsusers {
    height: 300px !important;
}

.card .card-2 {
    height: 300px !important;
}

.dashboardlatestuserimg {
    width: 65px !important;
    height: 57px !important;
    margin-left: 8px;
}

.sidebarimg {
    width: 42px;
    height: 42px !important;
}

.card-2 .card__bottom>div {
    display: inline-block;
    width: 33% !important;
    float: left;
}




/* Pagination/ Pager */

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.pagination>li>a,
.pagination>li>span {
    color: #313131 !important;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: #e4e7ea !important;
}

.pagination-split li {
    margin-left: 5px !important;
    display: inline-block !important;
    float: left !important;
}

.pagination-split li:first-child {
    margin-left: 0 !important;
}

.pagination-split li a {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #ff4081 !important;
    border-color: #ff4081 !important;
}

.floatright {
    float: right !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.mr-20 {
    margin-right: 20px;
}

.pageactive {
    background: #622d90 !important;
}

.mright10{
   margin-right: 10px !important; 
}

.cptr{
    cursor: pointer !important;;
}